<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<div th:include="usuarios/home_template.html::header"></div>

<body>
<div th:include="usuarios/home_template.html::header_nav"></div>

    <!-- Page Content -->
    <div class="container">

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Producto</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">

            <div class="col-lg-6">
              <a href="#">
                <img class="img-fluid rounded" th:src="@{/imagenes/{img} (img= ${producto.imagen}) }" alt="">
              </a>
            </div>

            <div class="col-lg-6">
              <form th:action="@{/carrito}" method="POST">
                <input type="hidden" th:value="${producto.id}" name="id">
                <h2 class="card-title" th:text="${producto.nombre}"></h2>
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5 th:text="'Precio: ' + ${producto.precio}"></h5>
                  </li>
                  <li class="list-group-item">
                    <p th:text="${producto.descripcion}"></p>
                  </li>
                  <li class="list-group-item">
                    <h6>Cantidad:
                      <input type="number" id="cantidad" name="cantidad" autocomplete="off"
                    min="1" max="5" value="1"></h6>
                  </li>
                </ul>

                <button type="submit"  class="btn btn-dark">Añadir al carrito </button>
              </form>

            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- /.container -->

<div th:include="usuarios/home_template.html::footer"></div>

</body>
</html>
